certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
colored==1.4.2
Gooey==1.0.3
idna==2.9
numpy==1.16.6
pandas==0.24.2
Pillow==7.1.0
psutil==5.7.0
pycairo==1.11.0
python-dateutil==2.8.1
pytz==2019.3
qrcode==6.1
requests==2.23.0
six==1.14.0
urllib3==1.26.5
wxPython==4.0.7.post2
